doctype html
html
  head
    title Add User
  body
    include navbar.pug

.container
    .row
      .col-xs-6.offset-xs-3
        h1.text-xs-center Add a New User
        hr
        form(action='/route5', method='post')
          .form-group
            label First Name:
            input(type="text" name='firstname' placeholder="Sherlock" class="form-control")
          .form-group
            label Last Name:
            input(type="text" name="lastname" placeholder="Holmes" class="form-control")
          .form-group
            label Email:
            input(type="email" name="email" placeholder="sherlock@detective.com" class="form-control")
          .form-group
            button(type="submit" class="btn btn-success btn-lg btn-") Add User