html
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")

div
  nav.navbar.navbar-inverse(role='navigation', style='padding-left:130px;')
    ul.nav.navbar-nav
      li 
        a(href='route1') All Users
      li
        a(href='route2') Find User
      li
        a(href='route4') Add User

