div
  nav.navbar.navbar-inverse(role='navigation', style='padding-left:130px;')
    ul.nav.navbar-nav
      li.active
        a(href='route4') Add User
      li
        a(href='route2') Find User
      li
        a(href='route1') All Amazing Users haha