body {
  padding: 500px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 60px;
}

.navbar {
  margin-bottom: 0px;
}